pipeline/ESI13T_Extraction.json
{
	"name": "ESI13T_Extraction",
	"properties": {
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "Select OBJECT_NAME \nFROM ALL_OBJECTS \nWHERE OBJECT_NAME IN (\n'ATEL_ACCOUNTSELECTION'\n,'ATEL_BOOKSTRUCTURE'\n,'ATEL_POSTINGPARAMETER'\n,'SDKCLIENTS'\n,'SDKCURRENCIES'\n,'SDKDETAILSCOPES'\n,'SDKLOVS'\n,'SDKLOVVALUES'\n,'SDKMATURITYRULES'\n,'SDKSYSTEMPARAMETERS'\n,'SDKUNITS'\n,'SDKUSERLOVVALUES'\n,'SDKUSERS'\n,'SD_ANLAGEN'\n,'SD_ANLAGENTYPEN'\n,'SD_ANSCHRIFTEN'\n,'SD_BELEGTYPEN'\n,'SD_BILLMARKET'\n,'SD_BUSINESSAREAS'\n,'SD_DETAILPROPERTIES'\n,'SD_DETAILS'\n,'SD_DETAILTYPES'\n,'SD_DOMAINWERTE'\n,'SD_FIBU'\n,'SD_HOLIDAYS'\n,'SD_HOLIDAYZONE'\n,'SD_KONTAKTE'\n,'SD_KUNDEN'\n,'SD_LOVVALUE'\n,'SD_MANDANTEN'\n,'SD_PERSONEN'\n,'SD_POSTINGTYPE'\n,'SD_RECHNUNGEN'\n,'SD_RECHNUNGSPOS'\n,'SD_TAXCODE'\n,'SD_TRADECONTRACT'\n,'SD_TRADECONTRACTDET'\n,'SD_USER'\n,'SD_VERTRAEGE'\n,'SD_VERTRAGSGRUPPEN'\n,'SD_VERTRAGSTYPEN'\n,'SD_WAEHRUNGEN'\n,'ALPIQ_SCHEDULE_MAPPING'\n) \nAND OWNER = 'PS_ADMIN'",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ESI13T_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "ALL_OBJECTS",
							"SchemaName": "PUBLIC"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableInList",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('GetTableList').output.value)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTableToParquet_TEMP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('Select * from ', item().OBJECT_NAME, ' where rownum < 5000')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ESI13T_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().OBJECT_NAME",
											"type": "Expression"
										},
										"SchemaName": "PS_ADMIN"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TMP_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().OBJECT_NAME",
											"type": "Expression"
										},
										"ExtractionTimestamp": {
											"value": "@pipeline().parameters.ExtractionTimestamp",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ParquetSplitAvro",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyTableToParquet_TEMP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "ParquetSplitAvro",
									"type": "DataFlowReference",
									"parameters": {
										"TableName": {
											"value": "'@{item().OBJECT_NAME}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"StagedParquet": {
											"TableName": {
												"value": "@item().OBJECT_NAME",
												"type": "Expression"
											},
											"ExtractionTimestamp": {
												"value": "@pipeline().parameters.ExtractionTimestamp",
												"type": "Expression"
											}
										},
										"DataExtractionSinkAvro": {
											"SourceSystem": "ORACLE",
											"DBName": "ESI13T",
											"SchemaName": "PS_ADMIN",
											"TableName": {
												"value": "@item().OBJECT_NAME",
												"type": "Expression"
											},
											"ExtractionTimestamp": {
												"value": "@utcnow('yyyy-MM-dd HH-mm-ss')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ExtractionTimestamp": {
				"type": "string",
				"defaultValue": "utcnow('yyyy-MM-dd HH-mm-ss')"
			}
		},
		"folder": {
			"name": "ERSExtractionJobTesting"
		},
		"annotations": []
	}
}