pipeline/ET51Q_SpecialCols.json
{
	"name": "ET51Q_SpecialCols",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat(\n'SELECT \nCOLUMN_NAME\n, DATA_TYPE\n, DATA_TYPE_MOD\n, DATA_TYPE_OWNER\n, DATA_LENGTH\n, DATA_PRECISION\n, DATA_SCALE\n, NULLABLE\n, COLUMN_ID\n, DEFAULT_LENGTH\n, DATA_DEFAULT\n, CHARACTER_SET_NAME\n, CHAR_COL_DECL_LENGTH\n, QUALIFIED_COL_NAME\nFROM ALL_TAB_COLS\nWHERE \nCOLUMN_NAME NOT LIKE(''','SYS_%',''') AND\nTABLE_NAME =''',\nvariables('table')\n, ''' '\n)",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ET51Q_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@variables('schema')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "HTTP_Parse_Mapping",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HTTP_Parse_Mapping",
					"method": "POST",
					"body": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ERSMetadataFunctionsAPP",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HTTP_Snowflake_Statement_Parser",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HTTP_Snowflake_Statement_Parser",
					"method": "POST",
					"headers": {
						"code": "ed3j7zQJWo/htwUaVYRGmxLHW4YIDlmp/Y5rqqZKZIsMicAQo0GRQg==",
						"host": "ET51Q",
						"schema": {
							"value": "@variables('schema')",
							"type": "Expression"
						},
						"table": {
							"value": "@variables('table')",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ERSMetadataFunctionsAPP",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"schema": {
				"type": "String",
				"defaultValue": "ET3000"
			},
			"table": {
				"type": "String",
				"defaultValue": "PROGFP_ID"
			}
		},
		"folder": {
			"name": "ERSExtractionJobTesting"
		},
		"annotations": []
	}
}