pipeline/MX01_EXP_HR.json
{
	"name": "MX01_EXP_HR",
	"properties": {
		"activities": [
			{
				"name": "GetGroupCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "extractionTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"firstRowOnly": true
				}
			},
			{
				"name": "NumberOfSCNGroups",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetGroupCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "numberOfGroups",
					"value": {
						"value": "@string(activity('GetGroupCount').output.firstRow.GROUP_NO)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetGroupSCN",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "NumberOfSCNGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetGroupSCN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetGroupSCN').output.value",
						"type": "Expression"
					},
					"batchCount": 8,
					"activities": [
						{
							"name": "CopySCNGroup",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "extractionTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "extractionTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH-mm-ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"numberOfGroups": {
				"type": "String"
			},
			"tableName": {
				"type": "String",
				"defaultValue": "ALPIQ_DLT_EXP_HR_REP"
			},
			"extractionTimestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ERSExtractionJobTesting"
		},
		"annotations": []
	}
}