pipeline/MX03_HDR_DBF.json
{
	"name": "MX03_HDR_DBF",
	"properties": {
		"activities": [
			{
				"name": "Set extraction timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "extractionTimestamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data for each SCN group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look up Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look up Tables').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Extract data to Parquet in BLOB Storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"maxConcurrentConnections": 1
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 8000000,
										"fileNamePrefix": {
											"value": "@concat(variables('tableName'), '_', variables('fileTimestamp'),'_',string(item().GROUP_NBR),'_')",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MX03_MX_BO_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"db_schema": "@variables('db_schema')",
										"db_table": "@item().OBJECT_NAME"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataExtraction_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat('ORACLE/',variables('dbHost'),'/',variables('dbSchema'),'/',item().OBJECT_NAME,'/',variables('folderTimestamp'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set timestamp for folder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set extraction timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderTimestamp",
					"value": {
						"value": "@formatDateTime(variables('extractionTimestamp'),'yyyy-MM-dd HH-mm-ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set timestamp for file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set timestamp for folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileTimestamp",
					"value": {
						"value": "@formatDateTime(variables('extractionTimestamp'),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Look up Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set timestamp for file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select OBJECT_NAME from ALL_OBJECTS WHERE OBJECT_NAME IN (\n'MXPRO.MX_HDR_DBF'\n)",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "MX03_MX_BO_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"db_schema": "@variables('db_schema')",
							"db_table": "ALL_OBJECTS"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"extractionTimestamp": {
				"type": "String"
			},
			"lastRunTimestamp": {
				"type": "String"
			},
			"lastRunClosing": {
				"type": "String"
			},
			"dbSchema": {
				"type": "String",
				"defaultValue": "MX_BO_DATAMART"
			},
			"dbHost": {
				"type": "String",
				"defaultValue": "MX03"
			},
			"folderTimestamp": {
				"type": "String"
			},
			"fileTimestamp": {
				"type": "String"
			},
			"tableName": {
				"type": "String",
				"defaultValue": "ALPIQ_DLT_EXP_HR_REP"
			},
			"processCount": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "ERSExtractionJobTesting/MX03_Full"
		},
		"annotations": []
	}
}