pipeline/MX_F_EXPOSURE_HOURLY_TST.json
{
	"name": "MX_F_EXPOSURE_HOURLY_TST",
	"properties": {
		"activities": [
			{
				"name": "Set extraction timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "extractionTimestamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set timestamp for folder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set extraction timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderTimestamp",
					"value": {
						"value": "@formatDateTime(variables('extractionTimestamp'),'yyyy-MM-dd HH-mm-ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set timestamp for file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set timestamp for folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileTimestamp",
					"value": {
						"value": "@formatDateTime(variables('extractionTimestamp'),'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set timestamp for file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"packetSize": 102400,
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TEST_HANA_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"db_schema": "@variables('db_schema')",
							"db_table": "@item().OBJECT_NAME"
						}
					}
				]
			}
		],
		"variables": {
			"extractionTimestamp": {
				"type": "String"
			},
			"lastRunTimestamp": {
				"type": "String"
			},
			"lastRunClosing": {
				"type": "String"
			},
			"dbSchema": {
				"type": "String",
				"defaultValue": "EDWH"
			},
			"dbHost": {
				"type": "String",
				"defaultValue": "ERS"
			},
			"folderTimestamp": {
				"type": "String"
			},
			"fileTimestamp": {
				"type": "String"
			},
			"tableName": {
				"type": "String",
				"defaultValue": "MX_F_EXPOSURE_POSITIONS_HOURLY"
			},
			"processCount": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "ERSExtractionJobTesting/TST_HANA"
		},
		"annotations": []
	}
}